<h1>All Your Offers</h1>

<h2>Offers You've Made</h2>
<div class="container">
<ul class="list-inline tabs-underlined">
  <% @made_offers.each do |offer| %>
    <li>
      <h2><%= link_to "You made an offer for #{offer.sneaker.title}", offer_path(offer) %></h2>
      <p><%= offer.offer_price %></p>
      <p><%= offer.status %></p>
    </li>
  <% end %>
</ul>
  </div>
<h2>Offers You've Received</h2>
<ul>
  <% @received_offers.each do |offer| %>
    <li>
      <h2><%= link_to "You recieved an offer for #{offer.sneaker.title}", offer_path(offer.sneaker, offer) %></h2>
      <p><%= offer.offer_price %></p>
      <p><%= offer.status %></p>
    </li>
  <% end %>
</ul>
  </div>
</div>


<%# <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Offers You've Made</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Offers You've Received</a>
  </li>

</ul> %>
