<h1>All Your Offers</h1>
<div class = container>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="made-tab" data-bs-toggle="tab" data-bs-target="#made" type="button" role="tab" aria-controls="made" aria-selected="true">Offers Made</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="receieved-tab" data-bs-toggle="tab" data-bs-target="#received" type="button" role="tab" aria-controls="received" aria-selected="false">Offers Receieved</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="made" role="tabpanel" aria-labelledby="made-tab">
      <div>
        <% @made_offers.each do |offer| %>
          <div class="offer-card">
            <h4><%= link_to "#{offer.sneaker.title}", offer_path(offer) %></h4>
            <p>Offer price: <%= offer.offer_price %></p>
            <p>Status: <%= offer.status %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="received" role="tabpanel" aria-labelledby="received-tab">
      <div>
        <% @received_offers.each do |offer| %>
          <div class="offer-card">
            <h4><%= link_to "#{offer.sneaker.title}", offer_path(offer) %></h4>
            <p>Offer price:<%= offer.offer_price %></p>
            <p>Status:<%= offer.status %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
