<div class="card-container">
<h1>Offer for <%= @offer.sneaker.title %></h1>

<p>Offer price: <%= @offer.offer_price %></p>
<p>Status: <%= @offer.status %></p>

<%= link_to 'Edit', edit_offer_path(@offer.sneaker, @offer) %> |
<%= link_to 'Back', offers_path(@offer.sneaker) %>
</div>
