<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(file:///C:/Users/tanya/Downloads/f9a85902-382d-4da0-bf23-2e655f6d8e16.webp);">
  <div class="container">
    <h1>kickskart</h1>
    <p>THE SNEAKER MARKET PLACE</p>
  </div>
</div>

<div class="card-container">
  <% @sneakers.each do |sneaker| %>
    <div class="card">
      <% if sneaker.photo.attached? %>
      <%= cl_image_tag sneaker.photo.key %>
      <% else %>
      <img src="https://cdn.midjourney.com/e8650f0c-0fcd-494d-a729-8495c1a8b2a1/0_3.png" />
      <% end %>
      <div class="card-infos">
        <div>
          <h2><%= sneaker.title %></h2>
          <p>Brand: <%= sneaker.brand %></p>
          <p>Model: <%= sneaker.model %></p>
          <p><%= link_to 'Show Details', sneaker_path(sneaker) %></p>
        </div>
        <h2 class="card-price">£<%= sneaker.price %></h2>
      </div>
    </div>
  <% end %>
</div>
