<h1><%= @sneaker.title %></h1>
<div class="container">
  <div class="card">
    <% if @sneaker.photo.attached? %>
      <%= cl_image_tag @sneaker.photo.key %>
      <% else %>
      <img src="https://cdn.midjourney.com/e8650f0c-0fcd-494d-a729-8495c1a8b2a1/0_3.png" />
      <% end %>
    <div class="card-infos">
      <div>
        <h2 class="card-title"><%= @sneaker.title %></h2>
        <h3><%= @sneaker.model %></h3>
        <h5>Size <%= @sneaker.size %></h5>
        <p class="card-description"><%= @sneaker.description %></p>
      </div>
      <h2 class="card-price">£<%= @sneaker.price %></h2>
    </div>
  </div>

  <%= link_to 'Back to all Sneakers', sneakers_path %>
  <%= link_to 'Make an Offer', new_sneaker_offer_path(@sneaker) %>
</div>
